
/*lagrge screen*/
@media only screen and (min-width: 600px){
    *{
        margin: 0px;
        padding: 0px;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
        
    }
    :root {
        --main-color: #1f1e1e;
        --inside-color: #ff0000;
        --mid-color: #000000;
        --lmain-color: #ffffff;
        --linside-color: #000000;
        --lmid-color: #ffffff;
      }
      
    #dut{
        display: none;
    }
    
 /*    #loding{
        position: fixed;
        bottom: -96px;
        width: 100%;
        height: 141vh;
        background: #fff url(https://drive.google.com/uc?export=download&id=1zenv7hNx8PIRp7QfNt9kGl9DfilTTTjO) no-repeat center;
        z-index: 100;
        background-size: 47px 60px;
    } */
    #ny{
       overflow-y: hidden;
    }
    @font-face {
        font-family:Heavitas;
        src: url(files/Heavitas.ttf);
    }
    .navbar{
        position: fixed;
        top: -1px;
        width: 100%;
        height: 57px;
        background-color: var(--main-color);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 223px;
        z-index: 99;
        border-top: 2.99px solid var(--inside-color);
        border-bottom: 0.3px solid var(--inside-color);
        border-left: none;
        border-right: none;
       
    }
    .lnavbar{
        background-color: #ffff00 !important;
    }
    
    .list{
        display: none;
    }
    .logo{
        font-family: Heavitas;
        padding: 8px 36px;
        font-size: 29.6px;
        color: var(--inside-color);
        white-space: nowrap;
    }
    
    .logo:hover{
        color: rgb(0, 0, 0);
        background-color: #ffffff;
        transition: 0.95s;
    }
    .search-div{
        margin-right: 109px;
    }
    .search-bar{
        padding: 10px 14px;
        width: 179%;
        height: 34px;
        border: 0.01px solid #4c4c4b;
        border-radius: 24px;
        font-size: 14px;
        background-color: #0c0c0c;
        outline: 0;
        color: white;
        font-family: monospace;                   
    }
    .mb-theme-cls{
        display: none;
    }
    .burger{
        display: none;
    }
    .theme-cls{
        display: grid;
        place-items: center;
        padding: 0px 17px;
    }
    .theme-cls:hover{
        background-color: var(--linside-color);
        transition: 0.83s;
    
    }
    
   .lis a:hover{
      color: #ff0000;
      background-color: rgb(0, 0, 0);
      transition: 0.95s;
        }
        .lis{
            display: flex;
            
        }
        .lis a{
            padding: 18px 15px;
            color: var(--inside-color);
            font-size: 16px;
            white-space: nowrap;
            
        }
       
        .navbar-gap{
            opacity: 0;
            height: 56px;
            width: 100%;
        }
        
    /*   explore winddow css*/     
       
       .main{
        background-color: var(--mid-color);
        height: 3000px;
        display: grid;
        justify-content: center;
       }
       
      .first-rows{
        display: grid;
        margin: 18px 0px;
        gap: 18px 55px;
        grid-template-columns: 1fr 1fr 1fr;
        height: 112vh;
      }

    .hr1{
        border-top: 0.3px solid var(--inside-color);
        border-bottom: none;
        border-left: none;
        border-right: none;
        grid-column: 1/4;
        width: 104%;
        position: relative;
        right: 24px; 
    
    }
    .title{
        color: var(--lmid-color);
        max-width: 295px;
        max-height: 38px;
        overflow-y: hidden;
    }
    .source{
        color: var(--lmid-color);
        opacity: 0.7;
        max-width: 198px;
        font-size: 12px;
        padding: 1px 6px;
        position: relative;
        right: 92px;
        top: -8px;
    }
    .video-thumnail{
        width: 337px;
        height: 262px;
        background-color: var(--main-color);
        display: grid;
        place-items: center;
        border-radius: 14px;

    }
    .video{
        height: 180px;
        width: 320px;
        border-radius: 14px;
    }
    .playbt{
        width: 320px;
        height: 180px;
        position: absolute;
        top: 77px;
    }
   
    .play-button{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 46%;
        transform: translate(-50%, -50%);
      }
      
      
    
   
  
    
} 