
/*lagrge screen*/
@media only screen and (min-width: 600px){
    *{
        margin: 0px;
        padding: 0px;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
        
    }
    #dut{
        display: none;
    }
    
 /*    #loding{
        position: fixed;
        bottom: -96px;
        width: 100%;
        height: 141vh;
        background: #fff url(https://drive.google.com/uc?export=download&id=1zenv7hNx8PIRp7QfNt9kGl9DfilTTTjO) no-repeat center;
        z-index: 100;
        background-size: 47px 60px;
    } */
    #ny{
       overflow-y: hidden;
    }
    @font-face {
        font-family:Heavitas;
        src: url(files/Heavitas.ttf);
    }
    .navbar{
        position: fixed;
        width: 100%;
        height: 56px;
        background-color: rgb(163, 224, 235);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 223px;
        z-index: 99;
    
       
    }
    .list{
        display: none;
    }
    .logo{
        font-family: Heavitas;
        padding: 6px 14px;
        font-size: 34.6px;
        color: black;
        background: yellow;
    }
        
    .burger{
        display: none;
    }
   .lis a:hover{
      color: red;
      background-color: white;
      transition: 0.95s;
        }
        .lis{
            display: flex;
            
        }
        .lis a{
            padding: 4px 16px;
            border: 2px solid white;
            color: rgb(97, 52, 52);
            border-radius: 5px;
            font-size: 17px;
            margin-right: 12px;
            
        }
        .home{
            color: red !important;
            background-color: white;
            
        }
    /*   explore winddow css*/     
       

    


} 